p{
    color: blueviolet;
    background-color: chartreuse;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

div{
    height: 500px;
    width: 300px;
    background-color: cornflowerblue;
    border: 2px dotted black;
    padding: 10px;
    margin-left: 100px;
}


*{
    margin: 0;
    padding: 0;
}

.SS {
    color: chocolate;
    background-color: burlywood;
}

body{
    background-color: aqua;
}

#l1{
    color: blue;
}

#title {
    color: brown;
}