body{
    border: 3px solid black;
    margin: 30px;
    padding: 20px;
}

div{
    background-color: yellow;
    font-size: 20px;
    text-align: center;
    padding: 100px;
    border: 30px solid blue;
    margin-left: 25px;
    padding: 30px;
    align-content: center;
    
}