/* p{
    color: blueviolet;
    background-color: chartreuse;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

div{
    height: 500px;
    width: 300px;
    background-color: cornflowerblue;
    border: 2px dotted black;
    padding: 10px;
    margin-left: 100px;
}

#l2{
    height: 200px;
    width: 100;
    background-color: burlywood;
    color: crimson;
    border: 3px double black;
    font-size: 50px;
    margin-right: 300px;

}

#l3{
    height: 600;
    width: 500;
    background-color: blue;
    color: beige;
    border: 4px dashed;
    font-size: 30px;
}

#l4{
    height: 100px;
    width: 80px;
    background-color: bisque;
    color: darkgreen;

}
*{
    margin: 0;
    padding: 0;
}

.SS {
    color: chocolate;
    background-color: burlywood;
}

body{
    background-color: aqua;
}

#l1{
    color: blue;
}

#title {
    color: brown;
} */

/* #l1{
    border: 3px solid black;
    width: 600px;
    padding: 5px;
    margin: 10px;

}

#l2{
    background-color: skyblue;
    width:500px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    margin-right: 3px;
}
#l3{
    background-color: darkolivegreen;
    width: 500px;
    margin: 10px;
    padding: 10px;
    margin-right: 2px;
} */

/* .container{
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
}

.boxbox1{
    background-color: burlywood;
    height: 400px;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: 30px;
}

.boxbox2{
    background-color: brown;
    height: 400px;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: 30px;
}

.boxbox3{
    background-color: skyblue;
    height: 400px;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: 30px;
} */

/* div {
    background-color: rgba(204, 116, 116, 0.781);
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    width: 700px;
}
img {
    float: left;
    height: 200px;
    padding: 10px;
}
#p2 {
    clear: both;
    background-color:beige;
} */
*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    height: 500px;
    width: 900px;
    border: 1px solid black;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap; 
    /* flex wrap is by default no wrap, boxes will shrink to fit in the border, wrap reverse */
    /* flex-direction: row-reverse; will start from right
    flex-direction: column; main axis- vertical cross axis- horizontal
    flex-direction: column-reverse; will start from bottom */ 
    /* flex-flow: ; combination of direction and wrap*/
    /* justify-content: flex-start; works on main-axis
    justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-around; jitna space left mein utna hi right mein
    justify-content: space-between; 
    justify-content: space-evenly; equal spaces in all sides */

    /* align-items: flex-start; works on cross-axis
    align-items: flex-end;
    align-items: stretch;
    align-items: baseline; */
    align-items: center;
    align-content: space-between; 
    gap: 20px;

    /* align-content: flex-start; works on cross-axis
    align-content: flex-end;
    align-content: center;
    align-content: stretch;
    align-content: space-around; */
}

/* by default sbhi child elements ka order 0 hota hai */

.item{
    height: 300px;
    border: 1px solid brown;
    background-color: cadetblue;
    text-align: center;
    margin: 20px;
    width: 300px;
    flex-grow: 1;
}

.item4{
    /* order: -1; */
    flex-grow: 2;
    flex-shrink: ;
    align-self: flex-end;
}