div{
    height: 50px;
    width: 500px;
    background-color: yellow;
    font-size: 20px;
    text-align: justify;
    text-align: center;
    padding: 100px;
    border: 30px solid blue;
    margin-left: 25px;
    padding: 30px;
    
}