.container{
    display: grid;
    /* height: 500px;
    width: 1000px; */
    background-color: aqua;
    border: 1px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 50px 1fr 1fr; */
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header header header"
    "main main . sidebar" "footer footer footer footer";
    column-gap: 5px;
    row-gap: ;
    /* justify-items: end; */
    /* justify-items: center; */
    /* justify-items: stretch;
    align-items: stretch; */
    place-items: center;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    align-content: end;
    place-content: ;
    


}

.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    justify-content: stretch;
    justify-items: center;   
    
}

/* .item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
}  */

.item1{
    grid-column: 1/2;
    grid-row: 2/2;
    justify-content: start;
}

.item2{
    grid-column: 2/3;
    grid-row: 2/3;
}
